$scale-default: 1rem;
$scale-one-up: 1.272rem;
$scale-two-up: 1.617984rem;
$scale-three-up: 2.058075648rem;
$scale-four-up: 2.617872224256rem;
$scale-five-up: 3.3299334692536rem;
$scale-six-up: 4.2356753728906rem;
$scale-seven-up: 5.3877790743169rem;
$scale-eight-up: 6.8532549825311rem;
$scale-nine-up: 8.7173403377795rem;
$scale-ten-up: 11.088456909656rem;
$scale-eleven-up: 14.104517189082rem;
$scale-twelve-up: 17.940945864512rem;
$scale-thirteen-up: 22.820883139659rem;
$scale-fourteen-up: 29.028163353647rem;
$scale-fifteen-up: 36.923823785839rem;
$scale-sixteen-up: 46.967103855587rem;
$scale-seventeen-up: 59.742156104306rem;
$scale-eighteen-up: 75.992022564678rem;
$scale-nineteen-up: 96.66185270227rem;
$scale-twenty-up: 122.95387663729rem;

$scale-one-down: 0.78616352201258rem;
$scale-two-down: 0.61805308334322rem;
$scale-three-down: 0.48589078879184rem;
$scale-four-down: 0.38198961383006rem;
$scale-five-down: 0.30030630018087rem;
$scale-six-down: 0.23608985863276rem;
$scale-seven-down: 0.18560523477418rem;
$scale-eight-down: 0.14591606507404rem;
$scale-nine-down: 0.11471388763682rem;
$scale-ten-down: 0.090183873928322rem;
$scale-eleven-down: 0.070899271956228rem;
$scale-twelve-down: 0.055738421349236rem;
$scale-thirteen-down: 0.043819513639336rem;
$scale-fourteen-down: 0.034449303175579rem;
$scale-fifteen-down: 0.027082785515392rem;
$scale-sixteen-down: 0.021291498046692rem;
$scale-seventeen-down: 0.016738599093311rem;
$scale-eighteen-down: 0.013159276016754rem;
$scale-nineteen-down: 0.010345342780467rem;
$scale-twenty-down: 0.0081331311167194rem;

